:root {
  font-family: "Courier New", Courier, monospace;
}

html {
  height: 100%;
}

body {
  background-color: #1b1a55;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.input-wrapper {
  /* position: absolute;
  top: 10%;
  left: 10%; */
  border: none;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  font-family: "Courier New", Courier, monospace;
}

label {
  color: white;
  background-color: transparent;
  padding: 5px;
}

.date-time-input {
  font-size: 1rem;
  font-weight: 550;
  border: none;
  padding: 0.2rem;
  border-radius: 5px;
  margin: 0.2rem;
  color: white;
  color-scheme: white;
  background-color: transparent;
}

.date-time-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  padding: 1px;
  border-radius: 5px;
}

.date-time-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.production-time-input-wrapper,
.shipping-time-input-wrapper,
.approval-bool-input-wrapper,
.shipping-or-pickup-input-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shipping-time-input-wrapper {
  display: none;
}

.production-time-input,
.shipping-time-input,
.approval-bool-input,
.shipping-or-pickup-input {
  max-width: 20%;
  border: none;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  padding: 0.125rem;
  margin-top: 0.5rem;
  text-align: center;
}

.approval-bool-input {
  max-width: 30%;
}

.shipping-or-pickup-input {
  max-width: 60%;
}

option {
  color: white;
  background-color: #1b1a55;
  font-family: "Courier New", Courier, monospace;
}

button {
  margin-top: 1.5rem;
}

/* .order-date-display-wrapper {
  position: absolute;
  top: 10%;
  right: 15%;
  border: none;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  font-family: "Courier New", Courier, monospace;
}

.order-date-display-wrapper > * {
  color: white;
} */

.display-wrapper {
  color: white;
}

.date-display-wrapper {
  display: flex;
  align-items: center;
}

.date-display {
  font-size: 1.2rem;
  font-weight: bold;
}

.approval-date-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
